   N°N²N°N N°N²N°N N°N²N°N   ²N°N           N°N  N°N            ²N°N°N²N            °N N N°N            ²N°N°N²N            °N N N°N            ²N°N°N²N            °N N °N N          °N²N   °N²N°N N°N²N°N N°N²N°N N  